.monster {
  position: absolute;
  background-image: url(eyes.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  border-radius: 4px;
  cursor: pointer;
}

.monster.large {
  width: 55px;
  height: 55px;
}

.monster.medium {
  width: 45px;
  height: 45px;
  background-color: green;
}

.monster.small {
  width: 35px;
  height: 35px;
  background-color: yellow;
}

.monster.position-1 {
  top: 20%;
  left: 20%;
}

.monster.position-2 {
  top: 20%;
  left: 50%;
}

.monster.position-3 {
  top: 40%;
  left: 10%;
}

.monster.position-4 {
  top: 30%;
  left: 55%;
}
