/* Add your CSS below! */
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.infobox {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  color: white;
  font-family: Monaco;
  text-align: center;
  border: 2px solid gray;
}

.infobox.congratulations {
  color: purple;
}

.infobox.time-out {
  color: red;
}

.start-button {
  background-color: #222;
  color: yellow;
  cursor: pointer;
}

.level h1 {
  color: white;
  font-family: Monaco; 
  font-size: 28px;
}

.monster {
  position: absolute;
  background-color: red;
  cursor: pointer;
}

.monster.large {
  width: 55px;
  height: 55px;
}

.monster.medium {
  width: 45px;
  height: 45px;
}

.monster.position-1 {
  top: 20%;
  left: 20%;
}

.monster.position-2 {
  top: 20%;
  left: 50%;
}

.monster.position-3 {
  top: 40%;
  left: 10%;
}

.monster.position-4 {
  top: 30%;
  left: 55%;
}

.statbox {
  position: absolute;
  width: 100px;
  padding: 10px;
  background-color: black;
  border: 2px solid yellow;
  text-align: center;
}

.statbox.score {
  bottom: 1%;
  right: 1%;
}

.statbox.countdown {
  bottom: 1%;
  left: 1%;
}

.statbox h2 {
  margin: 0;
  font-weight: normal;
  color: white;
  font-size: 36px;
  font-family: Helvetica;
}

.statbox .stat {
  position: relative;
  color: yellow;
  font-size: 40px;
  font-family: Monaco;
}
